<div class="header">

		<div>
			<img src="images/<%- image %>" alt="" />
			<p><%= username %></p>
		</div>
	<form action="/logout" method="post">
		<img src="images/power-off.png">
		<input type="submit" value="logout" />
	</form>
</div>
