<body>
<h1>Video Games News</h1>
<div>
        <% articles.forEach(function(article) { %>

        <a class="albumCard" id="albumcard" href="<%= article.link%>" target="_blank">
                <div
                        class="albumImage lazy-background fallback"
                        style="background-image: url('<%= article.image %>')"
                        >
                </div>
                <div>
                        <p><%= article.data.Title %></p>
                </div>
        </a>
                <% }); %>

</div>
</body>
<%- include('partials/navigation') %>