<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Welkom </h1>
<h2><a href="/login">Inloggen</a></h2>
<h2><a href="/register">Register</a></h2>
</body>
<script>

</script>
</html>