<html>
<head>
    <title>Home</title>
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
<h1>Welkom bij de PS4 Games Homepage!</h1>
    <header><%- include('../static/partials/header.ejs') %></header>

</body>
</html>