<div>
    <%- include('partials/header', {title: 'Add Album' , image: userinfo[0].Profilepic.data, username: userinfo[0].Username })
    %>
    <h3>Home</h3>
    <h3>Latest News</h3>



    <%- include('partials/navigation') %>
</div>
