<!DOCTYPE html>
<html lang="">
<head>
    <title>Ingevoerde gegevens</title>
</head>
<body>
<h1>Ingevoerde gegevens</h1>
<p>Je hebt de volgende gegevens ingevoerd:</p>
<ul>
    <li>Welkom: <%= username %> </li>
    <li>Uw Wachtwoord is: <%= password %></li>
    <li> Uw game is:<%= game %>%> </li>
</ul>
</body>
</html>